@font-face {
    font-family: "bold";
    src: url(/assets/font/bold.woff2);
}

@font-face{
    font-family: "Regular";
    src: url(/assets/font/regular.woff2);
}

body{
    margin: 0 !important;
    font-family: "Regular", Arial, sans-serif;
    color: #0f1111;
    background-color: #fff !important;
    min-height: 100%;
    font-size: 14px;
    line-height: 20px;
    overflow-x: hidden;
}

header{
    display: flex;
    position: static;
    float: none;
}

.deskheader-container{
    margin:0 !important;
    background-color: #131921;
    display: flex;
    position: static;
    float: none;
    flex-flow:column nowrap;
    flex: 1 1 auto;
    z-index: 198;
    font-size: 12px;
    line-height: 1em;
    zoom:1;
    min-width: 1000px;
}

.header1{
    background-color: #131921;
    display: flex;
    position: static;
    float: none;
    flex-flow: row nowrap;
    height: 60px;
    width: 100%;
    font-size: 14px;
    z-index: 5;
    line-height: 1em;
}

.header1-left{
    height: 60px;
    display: flex;
    position: static;
    float: none;
    width: auto;
}

.logo{
    margin-left: 11px;
    width: auto;
    padding: 4px 0 0;
    display: flex;
    position: relative;
    float: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-shrink: 0;
    line-height: 0;
    height: 100%;
}

.logo-a{
    display: flex;
    position: static;
    float: none;
    flex-shrink: 0;
    text-decoration: none;
    padding: 1px 8px 0px 6px;
    margin-left: 1px;
    height: 50px;
    width: 100%;
   
}

.logo-base{
    margin-top: 12px;
    pointer-events: none;
    float: left;
    pointer-events: none;
    float: left;
    text-indent: -500px;
    background-position: -10px -51px;
    width: 97px;
    height: 30px;
    background-image: url(/assets/amazone.png);
    background-repeat: repeat-x;

}

.nav-logo{
    margin-top: 12px;
    pointer-events: none;
    float: left;
    display: none;
    background-image: url(/assets/amazone.png);
    background-position: 0 1000px;
    background-repeat: repeat-x;
}

.logo-text{
    width: auto;
    margin-top: 16px;
    pointer-events: none;
    display: block;
    background-position: -270px -109px;
    height: 14px;
    float: left;
    font-size: 13.5px;
    color: #fff;
    line-height: 14px;
    margin-right: 0px;
    margin-left: 0px;
    margin-left: 1px;
}

.delloc{
    width: auto;
    height: 60px;
    padding: 0;
    margin: 0;
    display: flex;
    position: static;
    float: none;
    text-decoration: none;
    overflow: hidden;
    font-size: 14px;
    line-height: 1em;
    margin-left:2px;
}

.delloc-span{
    display: flex;
    position: static;
    float: none;
    width: fit-content;
    font-size: 14px;
    font-family: inherit;
    line-height: 1em
}

.delloc-a{
    padding: 0 9px 0 9px;
    margin: 5px 2px 5px 0;
    display: flex;
    position: static;
    float: none;
    flex-flow: row nowrap;
    align-items: center;
    width: fit-content;
    height: auto;
    box-shadow: none;
    scroll-margin: 0;
}

.delloc-img{
    background-position: -71px -378px;
    width: 15px;
    height: 18px;
    margin-top: 8px;
    display: flex;
    position: static;
    float: none;
    background-image: url(/assets/amazone.png);
    background-repeat: repeat-x;
}

.delloc-texts{
    margin-left: 3px;
    display: flex;
    position: static;
    float: none;
    flex-flow: column nowrap;
    line-height: 39px;
}

.delivering{
    color: #ccc;
    margin-top: 0;
    padding-right: 0;
    font-size: 12px;
    line-height: 14px;
    height: 14px;
    font-weight: 400;
    float: left;
    clear: both;
    white-space: nowrap;
    font-family: inherit;
}

.update{
    padding-bottom: 1px;
    padding-right: 0;
    color: #fff;
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
    float: left;
    clear: both;
    white-space: nowrap;
    font-family: inherit;
    font-family: "bold", Arial, sans-serif;
}

.search-section{
    height: 60px;
    display: flex;
    position: static;
    float: none;
    flex: 1 1 auto;
    overflow: visible;
    width: auto;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1em;
}

.search-section-content{
    padding: 10px 4px 10px 3px;
    /* height: 60px; */
    display: flex;
    position: static;
    float: none;
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 4px 4px 4px 4px;
}

.search-form{
    display: flex;
    position: static;
    float: none;
    flex: 1 1 0px;
    height: 40px;
    margin-bottom: 0;
    border-radius: 4px 4px 4px 4px;
}

.nav-left-section{
    display: flex;
    position: static;
    float: none;
    height: auto;
    width: auto;

}

.left-section1{
    display: flex;
    position: relative;
    float: none;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #e6e6e6;
    background-image: none;
    border-left: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    height: 38px;
    margin: 0;
    padding-left: 5px;
    overflow: hidden;
    border: 1px solid #cdcdcd;
    border-radius: 4px 0 0 4px;
    background-position: 0 -532px;
    /* height: 40px; */
    /* width: 52px; */
}

.all-icon{
    position: absolute;
    top: 14px;
    right: 8px;
    border-style: solid;
    border-width: 4px;
    border-color: transparent;
    border-top: 4px solid #666;
    border-bottom-width: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    background-image: url(/assets/amazone.png);
    background-position: 0 1000px;
    background-repeat: repeat-x;
    font-style: italic;
}

.nav-fill-section{
    display: flex;
    position: static;
    float: none;
    flex: 1 1 0px;
    height: auto;
    zoom:1;
    overflow: hidden;
}

.nav-fill-feild{
    display: flex;
    position: static;
    float: none;
    flex: 1 1 0px;
    border: none;
    border-top: 1px solid transparent;
    height: 40px;
    background: #fff;
}

.nav-fill-feild-container{
    position: relative;
    height: 100%;
    width: 100%;
}

.nav-fill-overlay{
    z-index: 1;
    pointer-events: none;
    position: absolute;
    top: 0;
    left:0;
    display: block;
    width: 100%;
    line-height: 15px;
    padding: 7px 10px 10px 10px;
    margin: 0;
    border: 0;
    height: 38px;
    font-family: inherit;
    font-size: 15px;
    background: 0 0;
    color: #111;
    outline: 0;
    box-shadow: none;
    text-indent: 8px;
    direction: ltr;
}

.nav-fill-overlay input{
    display: flex;
    position: static;
    float: none;
    width: 100%;
    line-height: 15px;
    padding: 7px 10px 10px 0;
    margin: 0;
    border: 0;
    /* height: 38px; */
    font-family: inherit;
    font-size: 15px;
    color: #111;
    outline: 0;
    box-shadow: none;
    text-indent: 8px;
    direction: ltr;
}

.nav-right {
    min-width: auto;
    display: flex;
    position: static;
    float: none;
    height: auto;
    width: auto;
}

.navright-container{
    display: flex;
    position: static;
    float: none;
    background-color: #febd69;
    background-image: none;
    border: none;
    width: 45px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    background-position: 0 -381px;
}

.navright-span{
    display: flex;
    position: static;
    float: none;
    flex: 1 1 auto;
    width: auto;
    height: auto;
    background-position: 2px -280px;
    text-indent: -500px;
    color: #111;
    text-shadow: none;
    background-image: url(/assets/amazone.png);
    background-repeat: repeat-x;
}

.navright-sub{
    display: flex;
    position: static;
    float: none;
    height: 100%;
    width: 100%;
    font-size: 14px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: 0;
    color: #fff;
    background: 0 0;
    border: none;
    text-indent: -1000px;
    line-height: 1px;
}

.left-mkf{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    float: left;
    overflow: hidden;
    top: 3px;
}

.left-all{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #555;
    font-size: 12px;
    line-height: 33px;
    margin-right: 21px;
    margin-left: 5px;
    min-width: 19px;
}

.search-right{
    height: 60px;
    display: flex;
    position: static;
    float: none;
    min-width: auto;
    width:auto;
}

.search-right-container{
    display: flex;
    position: static;
    float: none;
    text-decoration: none;
    margin-top: 2px;
    padding: 3px 0 0 0;
    font-size: 14px;
}

.ind-search{
    margin-right: 0;
    margin-left: 1px;
    padding-left: 9px;
    margin: 0 1px 0 1px;
    padding-bottom: 5px;
    padding-right: 9px;
    padding: 0 9px 10px;
    display: flex;
    position: static;
    float: none;
    flex-shrink: 0;
    flex-flow: column nowrap;
    justify-content: center;
    text-decoration: none;
    height: 50px;
    line-height: 44px;
    color: #d6d6d6;
}

.ind-search-container{
    padding-right: 0;
    display: flex;
    position: static;
    float: none;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.srchnv-line1{
    padding-bottom: 2px;
    padding-right: 8px;
    display: flex;
    position: static;
    float: none;
    align-items: center;
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    height: 14px;
    font-weight: 400;
}

.srchnv-line2{
    margin-left:1px;
    display: flex;
    position: static;
    float: none;
    align-items: center;
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
    clear: both;
    white-space: nowrap;
    font-family: inherit;
}

.flag{
    transform: scale(.9);
    margin: 0 2px 1px 0;
    display: flex;
    position: static;
    float: none;
    align-items: center;
    padding: 0;
    background-position: 0 -166px;
    width: 24px;
    height: 18px;
    background-image: url(/assets/font/india.png);
    color: #fff;
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
}

.en{
    display: flex;
    position: static;
    float: none;
    align-items: center;
    padding: 0;
    margin:0;
    color: #fff;
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
}

.arrowdwn{
    visibility: visible;
    margin: 6px 0 0 2px;
    display: flex;
    position: static;
    float: none;
    align-items: center;
    padding: 0;
    border-top-color:#a7acb2 !important;
    border-style: solid;
    border-width: 4px;
    border-color: transparent;
    border-top: 4px solid #606060;
    border-bottom-width: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    background-image: url(/assets/amazone.png);
    background-position: 0 1000px;
    background-repeat: repeat-x;
    color: #fff;
}

.sign-in{
    margin-right: 0;
    margin-left: 0;
    padding-right: 9px;
    padding-left: 9px;
    display: flex;
    position: relative;
    float: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: flex-start;
    text-decoration: none;
    flex-flow: column nowrap;
    justify-content: center;
    height: 50px;
    overflow: hidden;
    margin: 0 1px;
    line-height: 44px;
    color: #d6d6d6;
}

.signin-line1{
    position: relative;
    width: 100%;
    height: 14px;
    margin-top: 9px;
    display: flex;
    float: none;
    align-items: center;
    padding: 0;
    margin: 0;
    line-height: 44px;
}

.signln1-span{
    display: flex;
    position: static;
    float: none;
    align-items: center;
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    clear: both;
    white-space: nowrap;
    font-family: inherit;
}

.signin-line2{
    width: auto;
    min-width: 0;
    display: flex;
    position: static;
    float: none;
    align-items: center;
    color: #fff;
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
    font-family: "Regular", Arial, sans-serif;
}

.sign-arrow{
    visibility: visible;
    margin: 3px 0 0 5px;
    display: flex;
    position: static;
    float: none;
    align-items: center;
    padding: 0;
    border-style: solid;
    border-width: 4px;
    border-color: transparent;
    border-top: 4px solid #606060;
    border-top-color:#a7acb2 !important;
}

.returns{
    padding: 0 9px 10px;
    display: flex;
    position: static;
    float: none;
    flex-shrink: 0;
    flex-flow: column nowrap;
    justify-content: center;
    text-decoration: none;
    margin: 0 1px 0 1px;
    height: 50px;
    overflow: hidden;
    line-height: 44px;
    color: #d6d6d6;
}

.retrn-lin1{
    margin-top: 9px;
    height: 14px;
    display: flex;
    position: static;
    float: none;
    align-items: center;
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    clear: both;
    white-space: nowrap;
    font-family:inherit;   
}

.retrn-lin2{
    display: flex;
    position: static;
    float: none;
    align-items: center;
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
    clear: both;
    white-space: nowrap;
    font-family: inherit;
}

.cart{
    margin-right: 11px;
    margin-left: 2px;
    padding-left: 9px;
    padding-right: 9px;
    flex-flow: row nowrap;
    padding: 0 9px 11px 10px;
    display: flex;
    position: static;
    float: none;
    flex-shrink: 0;
    justify-content: center;
    text-decoration: none;
    height: 50px;
    overflow: hidden;
    line-height: 44px;
    color: #d6d6d6;
}

.cart-content1{
    position: relative;
    padding-bottom:1px;
    display: flex;
    float: none;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-start;
   
    margin-bottom:10px;
    line-height: 44px;
    color: #d6d6d6;
    font-family: inherit;
    cursor: pointer;
}

.cart-1{
    position: absolute;
    left: 13px;
    right: auto;
    top: 8px;
    justify-content: center;
    display: flex;
    float: none;
    align-items: center;
    padding: 0;
    margin: 0;
    color: #f08804;
    font-size: 16px;
    width: 19px;
    font-weight: 700;
    font-family: inherit;
    line-height: 16px;
    text-align: center;
    font-family: "bold",Arial, sans-serif;
}

.cart-img{
    display: flex;
    position: static;
    float: none;
    align-items: center;
    padding: 0;
    margin-top: 0px;
    background-position: -10px -340px;
    width: 38px;
    height: 26px;
    overflow: hidden;
    background-image: url(/assets/amazone.png);
    background-repeat: repeat-x;
    line-height: 44px;
    color: #d6d6d6;
}

.cart-content2{
    display: flex;
    position: static;
    float: none;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom:10px;
}

.cart-line1{
    display: flex;
    position: static;
    float: none;
    align-items: center;
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    height: 14px;
    font-weight: 400;
    clear: both;
    white-space: nowrap;
    font-family: inherit;
}

.cart-line2{
    display: flex;
    position: static;
    float: none;
    align-items: center;
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
    clear: both;
    white-space: nowrap;
    font-family: inherit;
}

.header2{
    padding-left: 11px;
    max-height: 39px;
    padding-top: 0;
    display: flex;
    position: static;
    float:none;
    flex-flow: row nowrap;
    background-image: none;
    background-color: #232f3e;
    width: 100%;
    transform: translate3d(0, 0, 0);
    z-index: 4;
    background-position: 0 -725px;
}

.hdr2-left{
    margin-right:0;
    max-height: 39px;
    display: flex;
    position: static;
    float: none;
    width: auto; 
}

.hdr2-lft-a{
    display: flex;
    position: static;
    float: none;
    align-items: center;
    width: auto;
    height: auto;
    border: none;
    text-decoration: none;
    padding: 8px 9px 8px 9px;
    margin: 0;
    font-size: 25px;
    color: #fff;
    border-radius: 3px;
}

.hdr2-lft-i{
    width: 17px;
    height: 14px;
    background-position: -172px -255px;
    display: flex;
    position: static;
    float: none;
    background-image:url(/assets/amazone.png);
    background-repeat: repeat-x;
    font-style: italic;
    font-size: 25px;
    color: #fff;
}

.hdr2-all{
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    padding-left: 5px;
    white-space: nowrap;
    color: #fff;
    line-height: 1em;
}

.nav-fill{
   max-height: 39px;
   display: flex;
   position: static;
   float: none;
   flex: 1 1 auto;
   width: auto;
   overflow: hidden;
   white-space: nowrap; 
   font-family: inherit;
   font-size: 12px;
   line-height: 1em;
}

.nav-ul{
    display: flex;
    position: static;
    float: none;
    flex: 1 1 100%;
    flex-flow:column nowrap;
    justify-content: flex-end;
    min-width: 0;
    padding: 0;
    margin: 0;
    z-index: 20;
}

.nav-ul-container{
    padding-left: 0;
    display: flex;
    position: static;
    float: none;
    flex:1 1 auto;
    flex-flow: row wrap;
    align-items: flex-end;
    margin-top: 0;
    /* margin: 21px 0 0; */
    max-height: 39px;
    overflow: hidden;
}

.fresh-a{
    margin: 5px 0 6px 0;
    padding: 8px 9px;
    scroll-margin: 0;
    height:12px;
    box-sizing: content-box;
    color: #fff;
    text-decoration: none;
    float: left;
    font-family: inherit;
    font-size: 14px;
}

@media screen and (max-width:1669px) {
    .fresh-a:last-child{
        display: none;
    }
}

@media screen and (max-width:1621px) {
    .fresh-a:nth-child(13){
        display: none;
    }
}

@media screen and (max-width:1527px) {
    .fresh-a:nth-child(12){
        display: none;
    }
}

@media screen and (max-width:1460px){
    .fresh-a:nth-child(11){
        display: none;
    }
}

@media screen and (max-width:1355px) {
    .fresh-a:nth-child(10){
        display: none;
    }
}

@media screen and (max-width:1215px) {
    .fresh-a:nth-child(9){
        display: none;
    }
}

@media screen and (max-width:1157px){
    .fresh-a:nth-child(8){
        display: none;
    }
}

@media screen and (max-width:1027px){
    .fresh-a:nth-child(7){
        display: none;
    }
}

@media screen and (max-width:1099px){
    .logo{
        padding-top: 4;
        margin-left: 1px;
    }
}

.hd2-right{
    display: flex;
    position: static;
    float: none;
    flex: 0 0 auto;
    max-height: 39px;
    width: auto;
}

.hd2-right-container{
    top:0;
    padding-left: 18px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 39px;
}

.hd2-right-content{
    height: 39px;
    width: 400px;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-position: bottom right;
    border: none;
    text-align: right;
    background-size: inherit;
}

.hd2-ar{
    display: block;
    height: 100%;
}

.hd2-ar img{
    vertical-align: top;
    max-width: 100%;
}

.amzn-desk-body{
    min-width: 1000px;
    margin: 0;
    padding: 0;
    background-color: white;
}

.deskhdr-container{
    margin-bottom: 8px;
    height: calc(100% - 8px);
}

.deskh1{
    padding-bottom: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 10px #ddd;
    background-color: #fff;
    position: relative;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
    margin: 0;
}

.dskh1-d1{
    max-width: 1800px;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    width: calc(100vw - 28px + 4px);
    padding: 0;
    min-width:996px;
    overflow: hidden;

}

.dskh1-d1-left{
    display: block;
    width: calc(.625*(100vw - 28px));
    min-width: 622.5px;
    max-width: 1122.5px;
    overflow: visible;
    float: left;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}

.dskh1-d2{
    padding: 0 4px;
    height: 100%;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
}

.dskh1-d2::before{
    margin-bottom: -1px;
    content: ' ';
    display: block;
    height: 1px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
}

.dskh1-d2::after{
    margin-bottom: -1px;
    content: ' ';
    display: block;
    height: 1px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
}

.dskh1-d3{
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
}

.dskh1-d2-right{
    display: block;
    width: calc(.375*(100vw - 28px));
    min-width: 373.5px;
    max-width: 673.5px;
    overflow: visible;
    float: left;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
}

.d2-right-container{
    padding: 0 4px;
    height: 100%;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.d2-right-container::before{
    margin-bottom: -1px;
    content: ' ';
    display: block;
    height: 1px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
}

.d2-right-container::after{
    margin-top: -1px;
    content:' ';
    display: block;
    height: 1px;
    font-size: 14px;
    line-height: 20px;
    display: block;
    height: 1px;
    font-weight: 400;
    font-style: normal;
}



.d2-right-forms{
    text-align: right;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    font-style: normal;
    text-transform: none;
}

.d2-right-form{
    /* display: inline-block; */
    margin-bottom: 0 !important;
    text-align: right !important;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
}

.d2right-span{
    position: relative;
    box-sizing: border-box;
    text-align: right;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
}

.d2right-pn{
    min-width: 0%;
    border-color: #d5d9d9;
    border-radius: 8px;
    color: #0f1111;
    background: #f0f2f2;
    height: 22px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

.a-button-inner{
    border-radius: 7px;
    background-color: #f0f2f2;
    height: 20px;
    display: block;
    position: relative;
    overflow: hidden;

}

.sort-texts{
    height: 100%;
    padding-right: 20px !important;
    font-size: 11px;
    line-height: 20px;
    padding: 0 6px 0 7px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    z-index: 10;
}

.sortby{
    margin-right: 6px;
    font-size: 11px;
    line-height: 20px;
    text-align: left;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
}

.featured{
   font-size: 11px;
   line-height: 20px;
   text-align: left;
   color: #0f1111;
   font-weight: 400;
   font-style: normal;
   text-transform: none;
}

.arrw-dwn{
    right: 5px;
    top: 4.4px;
    position: absolute;
    width: 10px;
    height: 8px;
    background-position: -7px -102px;
    display: inline-block;
    vertical-align: top;
    background-image: url(/assets/everything.png);
    background-size: 400px 900px;
    background-repeat: no-repeat;
}

.orng-text{
    color: #c45500;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    text-transform: none;
}

.fresh-ic{
    visibility: visible;
    display: inline-flex;
    border-top-color:#a7acb2;
    border-style: solid;
    border-width: 4px;
    border-color: transparent;
    border-top: 4px solid #a7acb2;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    margin: 0 0 2px 5px;
    background-image: url(/assets/amazone.png);
    background-position: 0 1000px;
    background-repeat: repeat-x;
    color: #777;

}

.pop-over{
    z-index: 299;
    visibility: visible;
    top: 107.453px;
    left: 89%;
    display: none;
    width: auto;
    padding: 0;
    margin: 1px 0 0;
    max-width: none;
    position: absolute;
}

.pop-over-content{
    overflow: hidden;
    border: 1px solid #bbbfbf;
    border-color: #bbbfbf;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(15, 17, 17, .15);
    background-color: #fff;
}

.pop-over-container{
    height: auto;
    overflow-y: auto;
    min-width: 119px;
    width: auto;
    padding: 8px 0;
    background-color: #fff;
    text-align: left;
    overflow-x:hidden;
}

.pop-over-ul{
    margin-bottom: 0;
    position: relative;
    left: -1px;
    margin-right: -1px;
    margin: -2px 0 0;
    color: #0f1111;
    padding: 0px;
}

.dropdown-item{
    margin: 0;
    outline: 0;
    display: block;
    position: relative;
    list-style: none;
    word-wrap: break-word;

}

.drpdwn-lnk.active{
    border-color: #007185;
    background-color: #edfdff;
    box-shadow: 3px 0 0 #007185;
    box-shadow: 3px 0 0 #007185 inset;
}

.drpdwn-lnk{
    color: #0f1111;
    text-decoration: none;
    padding: 2px 12px 1px 13px;
    display: block;
    white-space: nowrap;
    outline: 0;
    border: 1px solid transparent;
    margin-left: 1px;
}


@media screen and (max-width:1050px) {
    .pop-over{
        left: 83%;
    }
}

@media (min-width:1051px) and (max-width:1121px) {
    .pop-over {
        left: 85%;
    }
}

@media (min-width:1122px) and (max-width:1300px){
    .pop-over{
        left: 86%;
    }
}

.desk-main-body{
    margin: 0 auto;
    max-width: 1800px;
    padding-top: 14px !important;
    background-color: #fff !important;
    direction: rtl;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content:flex-start;
    width: calc(100vw - 28px + 4px);
    padding: 0;
    min-width: 996px;
    overflow: hidden;
}

.right-section{
    display: block;
    width: calc(.83333*(100vw - 28px));
    min-width: 830px;
    max-width: 1496.67px;
    direction: ltr;
    overflow: visible;
    float: left;
}

.right-section-inner{
    padding: 0 4px;
    height: 100%;
    box-sizing: border-box;
    direction: ltr;
}

.right-section-comp{
    box-sizing: border-box;
    direction: ltr;
}

.main-slot{
    grid-auto-flow: dense;
    /* grid-template-columns: repeat(12, 1fr); */
    margin-right: -4px;
    display: grid;
    align-items: stretch;
    justify-items: stretch;
    margin: 0 -8px 0 -4px;
    width: auto;
    padding: 0;
    min-width: 0;
}

.result-header{
    padding-left: 4px !important;
    padding-right: 4px !important;
    grid-column: 1 / -1;
    border-bottom: 0;
    direction: ltr;
    background-color: white;
}

.result-header-container{
    margin-bottom: 4px !important;
    height: calc(100% - 4px);
    direction: ltr;
}

.result-header-inner{
    margin-bottom: 0;
    display: block;
    direction: ltr;
    color: #0f1111;
}

.result-section-inner{
    outline: 0;
    direction: ltr;
}

.result-h2{
    padding-bottom: 0;
    margin-bottom: 0;
    color: #0f1111;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
}

.result-other{
    color: #565656;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
    direction: ltr;
}

.mob-section{
    grid-column: auto / span 16;
    float: none;
    min-width: 0;
    width: auto;
    display: block;
    /* max-width: 1347px; */
    background-color: white;
    display: grid;
}

.mob-container{
    padding: 0 4px;
    height: 100%;
    direction: ltr;
}

.mob-content{
    margin-bottom:8px !important;
    height: calc(100% - 8px);
}

.mob-real{
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    direction: ltr;
    font-size: 14px;
    line-height: 20px;
}

.puisg-row{
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    width: auto;
    min-width: 0;
    padding: 0;
    margin: 0 -8px 0 -.4px;
    overflow: hidden;
}

.mob-img{
    display: block;
    width: calc(.25*(100vw - 28px));
    min-width: 249px;
    max-width: 449px;
    overflow: visible;
    float: left;
}

.mob-img-inner{
    display: flex;
    flex-direction: column;
    padding-left: 4px;
    padding-right: 4px;
    height: 100%;
    direction: ltr;
    margin-bottom:-1px;   
}

.mob-img-inner::before{
    content: ' ';
    display: block;
    height: 1px;
}

.mob-img-inner::after{
    content: ' ';
    display: block;
    height: 1px;
}

.mob-img-container{
    flex-grow: 1;
    overflow: hidden;
    padding-right: 8px !important;
    padding-left: 8px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.mob-img-container::before{
    position: absolute;
    content:'';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity:.03;
    pointer-events: none;
}

.mob-img-relative{
    position: relative;
    text-align: center;
    direction: ltr;
}

.mob-img-fin{
    height: 218px;
    margin-bottom: 0;
    position: relative;
    text-align: center;
    direction: ltr;
    font-size: 14px;
    line-height: 20px;
}

.mob-img-fin img{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
}

.mob-details{
    display: block;
    width: calc(.5*(100vw - 28px));
    min-width: 498px;
    max-width: 898px;
    overflow: visible;
    float: left;
    background-color: white !important;
    position: relative;
}

.mob-details-inner{
    padding-left: 8px;
    padding-right: 4px;
    padding: 0 4px;
    height: 100%;
    direction: ltr;
}

.mob-name{
    padding-right: 8px;
}

.mob-hed2{
    line-clamp: 2;
    max-height: 86.4px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px;
}

.mob-hed2-a{
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
}

.mob-hed2-span{
    color: #0f1111;
    font-size: 18px !important;
    line-height: 24px !important;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
}

.mob-stars-review{
  padding-top:4px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.stars{
    width: 100%;
    font-size: 12px;
    line-height: 16px;
}

.starig{
    background-position: -2px -216px;
    background-image: url(/assets/stars.png);
    background-size: 512px 512px;
    background-repeat: no-repeat;
    height: 18px;
    width: 80px;
    position: relative;
    vertical-align: text-top;
    display: inline-block;
}

.a-icon{
    vertical-align: text-top;
    background-image: url(/assets/arws.png);
    background-size: 512px 512px;
    background-repeat: no-repeat;
    background-position: -267px -24px;
    height: 16px;
    width: 16px;
    display: inline-block;
}

.star-number{
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: #007185;
}

.reviews{
    width: 100%;
    font-size: 14px;
    line-height: 20px;
}

.review-num{
    color: #565656;
    font-size: 14px;
    line-height: 20px;
}

.pdc-row{
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    width: auto;
    min-width: 0;
    padding: 0;
    margin: 0 -8px 0 -4px;
    overflow: hidden;
}

.prow-col1{
    display: block;
    width: calc(.25*(100vw - 28px));
    min-width: 249px;
    max-width: 449px;
    overflow: visible;
}

.prow-col2{
    display: block;
    width: calc(.25*(100vw - 28px));
    min-width: 249px;
    max-width: 449px;
}

.prow-col2-inner{
    padding: 0 4px;
    height: 100%;
}

.prow-col1-inner{
    padding: 0 4px;
    height: 100%;
}

.price-container{
    padding-top: 4px;
    margin-top: 0 !important;
}

.great-ind{
    width: 100%;
}

.great-ind::before{
    display: table;
    content: '';
    line-height: 0;
    font-size: 0;
}

.great-ind-img{
    text-decoration: none;
}

.great-ind-span{
    text-decoration: none;
    display: inline-block;
    color: #007185;
    direction: ltr;
    font-size: 14px;
    line-height: 20px;
}

.grtind-spn2{
    max-width: 230px;
    background-color: #CC0C39;
    color: #CC0C39;
    /* border-radius: 0 6px; */
    font-weight: 700;
    position: relative;
    height: 26px;
    z-index: 1;
    float: left;
}

.badge-text{
    font-size: 12px;
    color: #fff;
    line-height: 26px;
    height: 26px;
    text-overflow: hidden;
    white-space: nowrap;
    display: block; 
    padding-left: 6px;
    padding-right: 6px;
}

.inr-price{
    width: 100%;
    color: #0f1111;
    font-size: 14px;
    line-height: 20px;
}

/* .inr-price::before{
    display: table;
    content:'';
    line-height: 0;
    font-size: 0;
} */

/* .inr-price::after{
    clear: both;
    display: table;
    content: '';
    line-height: 0;
    font-size: 0;
} */

.a-row{
    width: 100%;
}

/* .a-row::before{
    display: table;
    content: '';
    line-height: 0;
    font-size: 0;
} */

/* .a-row::after{
    border: 1px solid;
    position: absolute;
    content:"";
    right: 0;
    top: 50%;
    left: 0;
    font-size: 13px;
} */

.mrpice-a{
    font-weight: 400 !important;
    font-style: normal !important;
    text-transform: none !important;
    text-decoration: none !important;
}

.a-price-new{
    font-size: 28px;
    color: #0f1111;
    text-decoration: none;
    position: relative;
    line-height: normal;
}

.a-offscreen{
    user-select: none;
    /* position: absolute !important; */
    left: 0 !important;
    bottom: -1px !important;
    z-index: 24 !important;
    opacity: 1;
    color: black;
    font-size: 28px;

}

.old-price{
    margin-bottom: 0;
    display: inline-block;
}

.mrp-price{
    color: #565959;
    font-size: 14px;
    line-height: 20px;
}

.tp-price{
    display: inline-block;
    text-decoration: inherit;
    font-size: 13px;
    color: #565959;
    position: relative;
    line-height: normal;
}

/* .tp-price::after{
    border-top: 1px solid;
    position: absolute;
    content: "";
    right: 0;
    top: 50%;
    left: 0;
    font-size: 13px;
    color: #565959;
} */

.a-off{
    user-select: none;
    /* position: absolute;*/
    left: 0; 
    bottom: -1px !important;
    z-index: -1 !important;
    opacity: 1;
    font-size: 13px;
    color: #565656;
    text-decoration: line-through;
}

.delivery{
    padding-top: 4px;
    margin-top: 0;
    margin-bottom: 0;
}

.delivery-container{
    width: 100%;
    color: #565959;
    font-weight: 14px;
    line-height: 20px;
}

.delivery-container::before{
    display: table;
    content: '';
    line-height: 0;
    font-size: 0;
}

.delivery-container::after{
    clear: both;
    display: table;
    content:'';
    line-height: 0;
    font-size: 0;
}

.delivery-prime{
    vertical-align: middle;
    width: 100%;
}

.delivery-prime-span{
    vertical-align: middle;
    display: inline-block;
}

.delivery-prime-span2{
    bottom:-1.5px !important;
    position: relative;

}

.prime-i{
    background-image: url(/assets/prime.png);
    background-size: 512px 256px;
    background-repeat: no-repeat;
    /* vertical-align: baseline; */
    width: 53px;
    height: 15px;
    background-position: -179px -145px;
    margin-bottom: -1.75px;
    display: block;
}

.arw{
    vertical-align: middle;
    width: 100%;
}

.a-color-base{
     color: #0f1111;
}

.delivery-date{
    color: #0f1111;
    font-weight: 700;
}

.fstdel{
    color: #0f1111 !important;
}

.service-install{
    padding-top: 4px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.serinst{
    width: 100%;
    color: #565959;
    font-size: 14px;
    line-height: 20px;
}

.add-to-cart{
    padding-top: 4px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.addtcrt-container{
    width: 100%;
}

.addcrt-content{
    margin-top: 4px;
}

.acart{
    margin-bottom: 0;
    display: inline-block;
    width: 100%;
}

.cart-kjf{
   border-radius: 100px;
   background: #ffd814;
   border-color: #ffd814;
   border-style: solid;
   border-width: 1px;
   cursor: pointer;
   display: inline-block;
   padding: 0;
   text-align: center;
   text-decoration: none;
   vertical-align: middle;
   width: 88.859px;
}

.button-inner{
    border-radius: 99px;
    background: 0 0;
    box-shadow: none;
    display: block;
    position: relative;
    overflow: hidden;
    height: 29px;

}

.button-text{
    color: #0f1111;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 0;
    display: block;
    font-size: 13px;
    line-height: 29px;
    margin: 0;
    outline: 0;
    padding: 0 10px 0 11px;
    text-align: center;
    white-space: nowrap;
}

.colors{
    padding-top: 4px;
    margin-top: 0 !important;
}

.colors-container{
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    display: flex;
    height: 100%;
    max-height: 23px;
    line-height: 23px;
    margin: 10px 0 0;
    width: 100%;
    margin-bottom: 10px;
}

.colors-content{
    margin-right: 4px;
    border-radius: 11.5px;
    height: 23px;
    width: 23px;
    background-color: #fff;
    border: 1px solid #fff;
    float: left;
    margin: 0;
}

.circles-spn{
    border-radius: 8.5px;
    /* height: 17px;
    width: 17px; */
    float: left;
    margin: 2px;
}

.clr-fill{
    border-radius: 8.5px;
    height: 17px;
    width: 17px;
    border: 1px solid rgba(0, 0, 0, .2);
    float: left;
}

.mob-sectioncn{
    display: grid;
    
}

.pagenation{
    padding-left: 4px;
    padding-right: 4px;
    grid-column: 1 / -1;
}



.pagenation-container{
    margin-bottom: 16px;
    height: calc(100% - 16px);
}

.pagenation-content{
    margin-bottom: 0;
    text-align: center;
    box-sizing: border-box;
    direction: ltr;
}

.pagenation-span{
    display: inline-block;
    white-space: nowrap;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    border-top: 1px solid #d5d9d9;
    border-bottom: 1px solid #d5d9d9;
}

.previous{
    color: #6f7373;
    border-left: 1px solid #d5d9d9;
    border-top-left-radius:8px;
    border-bottom-left-radius: 8px;
    min-width: 70px;
    display: inline-block;
    line-height: 46px;
    padding: 0 12px;
    /* border-top: 1px solid #d5d9d9;
    border-bottom: 1px solid #d5d9d9; */
    height: 46px;
    position: relative;
    box-sizing: content-box;
}

.previous.active{
    color: #0f1111;
}


.previous svg{
    fill: #6f7373;
    margin-top: 17px;
    margin-right: 7px;
}

.previous.active svg{
    fill: #0f1111;

}

.pagenation1{
    color: #0f1111;
    text-decoration: none;
    display: inline-block;
    line-height: 46px;
    padding: 0 12px;
    /* border-top: 1px solid #d5d9d9;
    border-bottom: 1px solid #d5d9d9; */
    min-width: 24px;
    height: 46px;
    position: relative;
}

.pagenation1.active{
    color: #0f1111;
    font-weight: 700;
    border: 1px solid #0f1111;
    padding-left:11px;
    padding-right: 11px;
}

.next{
    color: #6f7373;
    border-right: 1px solid #d5d9d9;
    border-top-right-radius:8px;
    border-bottom-right-radius: 8px;
    min-width: 70px;
    display: inline-block;
    line-height: 46px;
    padding: 0 12px;
    /* border-top: 1px solid #d5d9d9;
    border-bottom: 1px solid #d5d9d9; */
    height: 46px;
    position: relative;
    box-sizing: content-box;
}

.next::before{
    left: 0;
    content:'';
    width: 1px;
    height: 32px;
    background: #d5d9d9;
    position: absolute;
    top: 7px;
}

.next svg{
  margin-top: 17px;
  margin-left: 17px;
  fill: #6f7373;
}

.next.active{
    color: #0f1111;
}

.next.active svg{
    fill: #0f1111;
}

.left-section{
    display: block;
    width: calc(.16667*(100vw - 28px));
    min-width: 166px;
    max-width: 299.33px;
    direction: ltr;
    overflow: visible;
    float: left;
}

.left-section-container{
    padding: 0 4px;
    height: 100%;
}


.left-section-container::before{
    margin-bottom: -1px;
    content:' ';
    display: block;
    height: 1px;
}

.left-section-container::after{
    margin-top: -1px;
    content:' ';
    display: block;
    height:1px;
}

.left-section-content{
    margin-bottom: 16px;
    height: calc(100% - 16px);
}

.left-section-inner{
    padding-right: 12px;
    line-height: 16px;
    word-break: break-word;
}

.left-list{
    margin-bottom: 48px;
}

.deals-n-discount{
    margin-bottom: 0 !important;
}

.dd-header{
    margin-bottom: 8px !important;
}

.dd-header-text{
    line-height: 16px;
    font-weight: 700 !important;
    color: #0f1111;
    font-size: 14px;
}

.dd-ul{
    margin-left: 0!important;
    color: #0f1111;
    padding: 0;
    margin: 0 0 0 18px;
    margin-bottom: 16px;
    line-height: 16px;
    word-break: break-word;
}

.dd-ul-rel{
    display: flex;
    flex-direction: column;
}

.dd-li1{
    line-height: 16px;
    color: #0f1111;
    font-size: 14px;
    margin-bottom: 4px;
}

.delivery-day{
    margin-bottom: 0 !important;
}

.dday-text-container{
    line-height: 16px;
    color: #0f1111;
    font-size: 14px;
    margin-bottom: 4px;
}

.dday-square{
    position: relative;
    float: left;
}

.dday-square label{
    cursor: pointer;
    margin-left: 0;
    /* padding-left: 19px; */
    text-indent: -19px;
    position: relative;
    font-weight: 400;
    color: #0f1111;
    top: -2px;
    padding-bottom: 0;
}

.dday-square label input{
    cursor: pointer;
    opacity: 0;
    border:0 none;
    margin: 0;
    outline: 0 none;
    overflow: hidden;
    padding: 0;
    position: absolute;
    bottom: auto;
    left: 0;
    z-index: -1;
    height: 16px;
    width: 16px;
}

.sq-icon{
    vertical-align: top;
    border-radius: 2px;
    background-position: -271px -60px;
    height: 16px;
    width: 16px;
    background-image: url(/assets/stars.png);
    background-size: 512px 512px;
    background-repeat: no-repeat;
    display: inline-block;
}

.checkbox-label{
    vertical-align: top;
    font-weight: 400;
    top: 1px;
    position: relative;
    padding-left: 5px;
    text-indent: 0;
    display: inline-block;
}

.dept-text{
    margin-bottom: 4px;
    line-height: 16px;
    color: #0f1111;
    font-size: 14px;
}

.spacing{
    margin-left: 12px;
}

.stars{
    margin-bottom: 0 !important;
}

.stars4{
    display: block;
}

.star-icon{
    background-position: -293px -488px;
    background-image: url(/assets/stars.png);
    background-size: 512px 512px;
    background-repeat: no-repeat;
    height: 22px;
    width: 95px;
    margin-right: 1px;
    top: -2px;
    position: relative;
    vertical-align: text-top;
    display: inline-block;
}

.up{
    color: #0f1111;
    font-size: 12px !important;
    line-height: 16px !important;

}

.price{
    margin-bottom: 0 !important; 
}

.price-container{
    margin-bottom: 0;
}

.price-content{
    position: relative;
}

.price-sec{
    padding: 4px 0 2px;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.price-num{
    margin-left: 0;
    margin-right: 4px;
    padding: 0;
    font-weight: 700;
}

.price-text{
    line-height: 16px;
    color: #0f1111;
    font-size: 14px;
    font-weight: 700;
}

.dash{
    margin-right: 4px;
    padding: 0;
}

.price-slider{
    padding: 10px 0;
    flex: 1;
    margin-top: 12px !important;
    margin-bottom: 12px !important;
}

.idk-cont{
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    z-index: 3;
}

.pr-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove default styling */
    width: 25px; /* Handle width */
    height: 25px; /* Handle height */
    border: 7px solid #007185; /* White border */
    border-radius: 50%; /* Round shape */
    background: white; /* Transparent background */
    cursor: pointer;
    position: relative;
    z-index: 12;   
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.815);
}


.pr-slider{
    position: absolute ;
    background-color: transparent;
    color: #bbbfbf;
    z-index: 1;
    appearance: none;
    pointer-events: none;
    width: 100%;
    height: 4px;
    outline: 0;
}

/* .pslid::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px; 
    height: 20px; 
    border: 2px solid #007185; 
    border-radius: 50%; 
    background: transparent; 
    cursor: pointer;
    color
} */

.slider-line{
    margin:0;
    padding: 0;
    display: flex; 
    z-index: 0;
    position: relative;
}


.go{
    margin-left:8px;
    margin-bottom: -3px;
}

.go-button-base{
    border-radius: 100px;
    background: #fff;
    border-color: #888c8c;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    text-align: center;
    text-decoration: none !important;
    vertical-align: middle;
}

.go-button-inner{
    border-radius: 99px;
    background: 0 0;
    box-shadow: none;
    display: block;
    position: relative;
    overflow: hidden;
    height: 29px;
}

.go-btn-input{
    cursor: pointer;
    appearance: none;
    position: absolute;
    background-color: transparent;
    border: 0;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: .01;
    outline: 0;
    overflow: visible;
    z-index: 20;
}

.button-text{
    color: #0f1111;
    background-color: transparent;
    border: 0;
    display: block;
    font-size: 13px;
    line-height: 29px;
    margin: 0;
    outline: 0;
    padding: 0 10px 0 11px;
    text-align: center;
    white-space: nowrap;
    width: 17.813px;
    
}

.gobtn{
    line-height: 16px;
    color: #0f1111;
    font-size: 14px;
    text-align: left;
}

.brnd-icon.active{
    border: 2px solid #007185;
}

.mobile-view{
    display: none;
}

@media screen and (max-width:800px) {
    .desktop-view{
        display: none;
    }

    .mobile-view{
        display: block;
    }

    a {
        text-decoration: none;
    }
    
    .mob-header-container{
        position: relative;
        z-index: 200;
        font-family: inherit;
        font-size: 12px;
        line-height: 1em;
        min-width: 200px;
    }

    .mob-header1{
      display: flex;
      position: relative;
      z-index: inherit;
      height: 48px;
      width: 100%;
      border-bottom: 1px solid #232f3e;
      background-color: #232f3e;
      flex-flow: row nowrap;
      justify-content: space-between;
    }

    .mbh1-left{
        flex-shrink: 0;
        flex-flow: row nowrap;
        display: flex;
        position: relative;
        width: auto;
    }

    .mbh1-right{
        flex-flow: row-reverse wrap;
        overflow: hidden;
        min-width: 60px;
        display: flex;
        position: relative;
        width: auto;
    }

    .mb-a{
        float: left;
        padding: 14px 14px;
    }

    .mb-a-i{
        display: block;
        width:20px;
        height:20px;
        background-position: -20px -378px;
        background-image: url(/assets/mobimg.png);
        background-size: 275px;
        background-repeat: no-repeat;
        text-indent: -500px;
        overflow: hidden;
    }

    .hd-logo1{
        margin-left: auto;
        position: relative;
        float: left;
        z-index: 20;
        margin-top: 13px;
    }

    .amzn-lg{
        clear: both;
        display: inline-block;
        cursor: pointer;
    }

    .amzn-lg-base{
        background-image: url(/assets/mobimg.png);
        background-size: 275px;
        float: left;
        text-indent: -500px;
        /* padding: 10px 40px 0 20px; */
        background-position: -10px -50px;
        width: 80px;
        height: 27px;
        background-repeat: no-repeat;
    }

    .amzn-logo-ext{
        background-image: url(/assets/mobimg.png);
        background-size: 275px;
        float: left;
        display: none;
        background-repeat: no-repeat;
    }

    .amzn-logo-locale{
        display: block;
        background-position: -160px -209px;
        width: 14px;
        height: 16px;
        direction: ltr;
        float: left;
        margin: 2px 0 0 1px;
        font-size: 13.5px;
        color: #fff;
        line-height: 14px;
        padding-top: 1px;
    }
    
    .mbh1-right{
        flex-flow: row-reverse wrap;
        overflow: hidden;
        min-width: 60px;
        display: flex;
        position: relative;
        width: auto;
    }

    .right-sign{
        order: 2;
    }

    .mb-sgn-txt{
        display: flex;
        margin-left: 5px;
        line-height: 48px;
        font-size: 13px;
        color: #fff;
    }

    .rght-mk{
        order: 1;
        display: flex;
        padding: 9px 0 12px 4px;
        position: relative;
        width: 39px;
    }
    
    .rght-mk-i{
        order: 2;
        background-image: url(/assets/mobimg.png);
        background-size: 275px;
        display: block;
        background-position: -141px -300px;
        width: 35px;
        height: 27px;
    }
    
    .mb-cart{
        padding-left: 7px;
        order: 0;
        display: flex;
        padding: 10px 18px 11px 12px;
        font-family: inherit;
        text-decoration: none;
    }

    .nav-cart{
        order:2;
        width: 37px;
    }

    .nav-icon{
        background-position: -10px -240px;
        width: 37px;
        height: 27px;
        position: static;
        background-image: url(/assets/mobimg.png);
        background-size: 275px;
        display: block;
    }

    .nav-cart-count{
        padding: 0 0 0 6px;
        font-size: 16px;
        color: #f08804;
        display: block;
        text-align: center;
        line-height: 10px;
        font-weight: 700;
        text-decoration: none;
    }

    .nav-searchbar{
        display: flex;
        height: 50px;
    }

    .searchbar-form{
        background: #232f3e;
        display: block;
        padding: 2px 10px 5px 10px;
        position: relative;
        height: 50px;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, .05);
        margin-bottom: 0;
        flex: 1;
        z-index: inherit;
    }

    .nav-search-fill{
        width: auto;
        overflow: hidden;
        white-space: nowrap;
    }

    .nav-srch-field{
        border-radius: 8px 8px 8px 8px;
        height: 44px;
        margin: 0;
        position: relative;
        background: #fff;
    }

    .search-nav{
       border-radius: 8px 8px 8px 8px;
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       direction: ltr;
       display: block;
       padding: 0 95px 0 10px;
       color: #000;
       font-size: 15px;
       font-family: inherit;
       border: 0;
       outline: 0;
       box-shadow: 0 1px 0 0 rgba(255, 255, 255, .5), inset 0 1px 0 0 rgba(0, 0, 0, .07); 
    }

    .nav-right{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        display: flex;
        width: auto;
    }

    .nav-subm{
        background: #febd69;
        border:8px 8px 8px 8px;
        position: relative;
        height: 44px;
        width: 50px;
        margin: 2px 10px 5px 5px;
        border: 0;
        cursor: pointer;
    }

    .inpt{
        border-radius: 8px 8px 8px 8px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        z-index: 10;
        border: 0;
        background-color: transparent;
        text-indent: -1000px;
        line-height: 1px;
    }

    .mb-srch-icn{
        background-image: url(/assets/serchm.png);
        background-size: 275px;
        position: absolute;
        top: 10px;
        left: 12px;
        pointer-events: none;
        background-position: -73px -239px;
        width: 27px;
        height: 25px;
        --webkit-filter: invert(100%);
        background-repeat: no-repeat;
    }

    .mb-srch-icn::before{
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    .mob-header3{
        background-color: #37475A;
        height: 44px;
        width: 100%;
    }

    .mob-header3-container{
        float: left;
        padding: 12px 10px 12px 10px;
        height: 100%;
        width: 100%;
    }

    .lction-img{
        background-position: -75px -340px;
        width: 20px;
        height: 20px;
        float: left;
        margin-right: 5px;
        background-image: url(/assets/serchm.png);
        background-size: 275px;
        background-repeat: no-repeat;
    }

    .lction-address{
        float: left;
        height: 20px;
        display:block;
        width: 85%;
    }

    .address-text{
        float: left;
        clear: both;
        font-size: 13px;
        line-height: 20px;
        color: #fff;
        font-family: inherit;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .mob-body{
        width: 100vw;
        position: relative;
    }

    .mob-body-container{
        grid-auto-flow: dense;
        grid-template-columns: repeat(12, 1fr);
        padding-right: 4px;
        display: grid;
        align-items: stretch;
        justify-items: stretch;
        overflow: visible;
        align-content: flex-start;
        width: calc(100vw - 8px + 4px);
        margin: 0 0 0 4px;
        padding: 0;
    }

    .mob-body-header{
        margin-left: -4px;
        margin-right: -4px;
        padding-left: 0;
        padding-right: 0;
        position: sticky;
        top: 0;
        z-index: 20;
        overflow-x: hidden;
        transition: transform .2s linear;
        grid-column: 1 / -1;
        border-bottom: 0 !important;
        margin-bottom: 0 !important;
    }

    .mbdy-hdr-cont{
        margin-bottom: 8px !important;
        height: calc(100% - 8px);
    }
    
    .header-nav-container{
        display: block;
        position: relative;
    }

    .header-toolbar{
        margin-bottom: 0;
        min-height: 0;
        height: 48px;
        display: flex;
        align-items: center;
        background-color: #fff;
        box-shadow: 0 1px 2px 0 rgba(17, 17, 17, .15);
        padding: 0;
        transition: .2s linear;
    }

    .left-scroller{
        display: flex;
        align-items: center;
        overflow-y: hidden;
        width: 100%;
        height: 100%;
        overflow: auto;
        scrollbar-width: none;
    }

    .scroller-content1{
        padding-left: 8px;
        margin-right: 4px;
        flex-shrink: 0;
        white-space: nowrap;
        margin-bottom: 0 !important;
    }

    .scroll-a{
        font-size: 14px !important;
        line-height: 20px !important;
        text-decoration: none;
        color: #007185;
        margin-right: 8px;
        margin-left: 4px;
        padding: 6px 0;
        display: inline-block;
    }

    .prime-icon{
        vertical-align: middle !important;
        display: inline-block;
    }

    .prime-i{
        margin-right: 4px;
        width: 4.2rem;
        height: 1.2rem;
        background-position: -13.8rem -7.3rem;
        background-image: url(/assets/prime.png);
        vertical-align: baseline;
        margin-bottom: -.175rem;
        background-position: 51.2rem 25.6rem;
        background-repeat: no-repeat;
        
    }

    .prime-btn{
      line-height: 0 !important;
      vertical-align: middle !important;
      display: inline-block;
    }

    .prime-btn::after{
        content: url(/assets/prbutton.svg);
        line-height: 0 !important;
        font-size: 14px;
    }

    .scroll-b{
        height: 32px;
        margin: 0 4px 0 0;
        display: flex;
        align-items: center;
        border: .1rem solid #f4f4f4;
        background-color: #f4f4f4;
        border-radius: 8px;
        padding: 9px;
    }

    .great{
        font-size: 14px;
        line-height: 20px;
        color: #0f1111;

    }

    .right-filter{
        float: right !important;
    }

}